.main-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.thumbnail-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 5px;
}

.thumbnail {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
    border: 2px solid transparent;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.selected {
    border-color: #00eeff;
}

.cursive {
    font-family: cursive;
}