/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("./assets/backgroundImage.jpg");
    background-color: #659dbd;
    background-size: cover;
  }
