.container {
    margin-top: 20px;
}

.artist-card {
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 10px;
    transform: scale(1.05);
}

.card-body {
    font-family: cursive;
}

#cardTitle {
    background-color: black;
    color: white;
}

button:disabled {
    cursor: not-allowed;
}

.cardData {
    background-color: rgb(44, 113, 122);
    color: white;
}

.card-img-top {
    height: 100px
}

.cursive {
    font-family: cursive;
}